.add-property-container {
  margin: 40px;
}

/* Toggle Button */

.add-btn {
  padding: 12px 20px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-bottom: 20px;
}

/* Form */

.form {
  width: 420px;
  display: flex;
  flex-direction: column;
  gap: 18px;
}

/* ALL INPUTS */

.form input[type="text"],
.form input[type="text"],
.form select,
.form textarea {
  width: 420px;
  padding: 14px;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 16px;
  box-sizing: border-box;
}

/* Textarea */

.form textarea {
  height: 120px;
  resize: none;
}

/* Submit Button */

.form button {
  width: 420px;
  padding: 14px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
}

.form input[type="number"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: textfield;
  width: 420px;
  padding: 14px;
  box-sizing: border-box;
}