.add-property-container {

}

/* Toggle Button */

.add-btn {
  padding: 12px 20px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-bottom: 20px;
}


.form {
  width: 420px;
  display: flex;
  flex-direction: column;
  gap: 18px;
}


.form input[type="text"],
.form input[type="number"],
.form textarea {
  width: 420px;
  padding: 14px;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 16px;
  box-sizing: border-box;
}

.form select{
  width: 420px;
  padding: 14px;
  box-sizing: border-box;
  margin-left: -1px;
}

.form input[type="number"] {
  appearance: textfield;
  margin-left: -1px;
}


.form textarea {
  height: 120px;
  resize: none;
}


.form button {
  width: 420px;
  padding: 14px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
}


/* Skeleton Loader */

.skeleton-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.skeleton-card {
  height: 300px;
  border-radius: 10px;
  background: #ddd;
  animation: pulse 1.5s infinite;
}


@keyframes pulse {
  0% {
    opacity: 0.6;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0.6;
  }
}

/* No Properties */

.no-properties {
  text-align: center;
  padding: 40px;
  color: #555;
}

/* Error Box */

.error-box {
  text-align: center;
  padding: 15px;
  border: 3px solid #cc0000;
  border-radius: 10px;
  color: #cc0000;
  font-size: 18px;
}