.form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
    width: 300px;
}
.form input{
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
}
.form button{
    padding: 10px;
    font-size: 16px;
    background-color: #c35454;
    color: white;
    border: none;
    cursor: pointer;
}
.form button:hover{
    background-color: #a04242;
}
.add-btn{
    margin: 15px;
    padding: 10px;
    font-size: 16px;
    background-color: #000000;
    color: white;
    border: none;
    cursor: pointer;
}
.add-btn:hover{
    background-color: #a04242;
}       

.form textarea{
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
    resize: none;
}