.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    
}

.nav-links a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 20px;
    margin: 20px;
    
}

.nav-links a:hover{
    color: #c35454;
}
.logo{
    
    height: 40px;
    width: 40px;
    align-content: flex-end;
}

.searchbox:focus{
    border-color: #ff5a5f;
}

select{
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    margin-left: 10px;
}

input[type="number"]{
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    margin-left: 10px;
    width: 140px;
}