.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
}

.nav-links{
    display: flex;
    gap: 40px;
    margin-left: auto;
}

.nav-links a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: 600;
}

.nav-links a:hover{
    color: #c35454;
}
.logo{
    
    height: 40px;
    width: 40px;
    align-content: flex-end;
}

.searchbox:focus{
    border-color: #ff5a5f;
}

select{
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    margin-left: 10px;
}

input[type="number"]{
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    margin-left: 10px;
    width: 140px;
}

.username {
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
  font-style: italic;
  font-weight: 2000;
  margin-left: 400px;
  font-size: larger;
}

.logout-btn {
  padding: 8px 14px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}