#btn {
  padding: 10px 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  background-color: #000000;
  color: rgb(255, 255, 255);
  

}

#saved-btn {
  padding: 10px 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  background-color: #c35454;
  color: rgb(255, 255, 255);
}